<div class="item-title">
    <h3 class="name">{{title}}</h3>
    <h4>How to find this object</h4>
</div>

<div class="hint-container">
    <!--<a href="#" class="show-hint">Need a hint?</a>-->
    <smaller>({{beaconHint}} beacon)</smaller>
    <p>{{hint}}</p>
    <h5>Location: {{location}}</h5>
</div>

<div class="search-item">
    <img class="item-image" src="img/{{hint_image}}">
</div>

<div class="found-item">
    <img class="item-image" src="img/{{image}}">
    <audio id='foundMedia' width="100%" height="auto" webkit-playsinline controls preload="auto">
      <source src="audio/{{audio}}" type="audio/mpeg">
        Your browser does not support the video tag.
    </audio>
    <h5>Location: {{location}}</h5>
    <p>{{description}}</p>
    <!--<a href="#/restart" class="restart-all">Restart</a>-->
</div>

<div class="question">
</div>