<div class="header">
    <img class="nav-menu-button" id="nav-menu-button" src="img/menu.png" width=50>
    <span class="proximity-indicator">Scanning...</span>
    <div class="titles">
        <h1 class="trail-title">{{topicTitle}}</h1>
        <h2 class="name">{{title}}</h2>
    </div>
</div>

<div class="item">

    <img class="item-image" src="img/{{image}}">
    <div class="before-found">
        <div class="find-prompt">Can you find...</div>        
        <div class="hint-container">
            <div id="unlock-code" class="item-unlock"></div>
            <img class="item-map" src="img/mapLowerRight.png">
            <div class="button-hint"><a href="#" class="show-hint">Need a hint?</a></div>
            <p class="hint">{{hint}}</p>
        </div>
    </div>

    <video id='foundVideo' class='found center-vertically' width="100%" height="auto" webkit-playsinline preload="auto" poster="img/{{video_poster}}" >
        <source src="video/{{video}}" type="video/mp4">
    </video>
    <div id="play" class="play play-button button center center-vertically">
    	<a>You found it!<br>Play the video</a>
    </div>

    <div class="found-item center-vertically">
        <h3>You found it!</h3>
        <img class="video_thumbnail" src="img/{{video_poster}}">
        <div id="replay" class="button center play-button replay hidden">
            <a>Watch Again</a>
        </div>
        <!--<a href="#/restart" class="restart-all">Restart</a>-->
    </div>

    <div class="question center-vertically">
    </div>
</div>