<div class="header">
    <img class="nav-menu-button" id="nav-menu-button" src="img/menu.png" width=50>
    <span class="proximity-indicator">Scanning...</span>
    <h1 class="trail-title">{{topicTitle}}</h1>
</div>

<div id="unlock-code" class="item-unlock">

</div>

<div class="search-item">
    <div class="find-prompt">Can you find...</div>
    <img class="item-image" src="img/{{image}}">
</div>

<div class="item-title">
    <h3 class="name">{{title}}</h3>
</div>

<div class="hint-container">
    <div class="button button-hint"><a href="#" class="show-hint">Need a hint?</a></div>
    <p class="hint">{{hint}}</p>
</div>

<div class="found-item">
    <div id="play" class="button center play-button">
        <a>Play</a>
    </div>
    <video id='foundVideo' width="100%" height="auto" webkit-playsinline preload="auto" poster="img/{{video_poster}}" >
    </video>
    <div id="replay" class="button center play-button replay hidden">
        <a>Watch Again</a>
    </div>
    <h3>You found it!</h3>
    <!--<a href="#/restart" class="restart-all">Restart</a>-->
</div>

<div class="question">
</div>