<div class="item-title">
    <h3 class="name">{{title}}</h3>
</div>

<div class="hint-container">
    <h5>Location: {{location}}</h5>
</div>

<div class="search-item">
    <img class="item-image" src="img/{{hint_image}}">
    <a><div class="black-bar map-link compact">Show on Map</div></a>
    <a><div class="black-bar find-item compact">Show this item</div></a>
    <div class="map-container">
        <div class="map-bg"></div>
        <div class="close">
            <i class="fa fa-times"></i>
        </div>
            <br>
        <div class="image-holder">
            <img class="map-image" src="img/{{map_image}}">
        </div>
    </div>
</div>

<div class="found-item">
    {{#if audio}}
        <div class="audio-controls"></div>
    {{/if}}
    <div class="found-scrolling">
        <img class="item-image" src="img/{{image}}">
        <h5>Location: {{location}}</h5>
        <p class="description">{{description}}</p>
    </div>
</div>

<div class="question">
</div>