<div class="titles">
	<h3>Sensing Evolution</h3>
	<h4>{{{title}}}</h4>
</div>

{{#each topics}}
    <span class="nav-menu-topic-title {{#if isComplete}}complete{{/if}} {{#if isCurrent}}current{{/if}}">{{{title}}}</span>
    <ul>
    {{#each items}}
        <li class="{{#if isCurrent}}current{{/if}} {{#if isAvailable}}available{{/if}}">
            {{#if isCurrent}}
                    <i class="fa fa-caret-square-o-right"></i>
            {{else}}
                    {{#if isAvailable}}<i class="fa fa-check-square-o"></i>
                    {{else}}<i class="fa fa-square-o"></i>{{/if}}
            {{/if}}
            <a class="nav-link {{#if isCurrent}}current{{/if}} {{#if isAvailable}}found{{/if}}" href="#/item/{{slug}}">{{{title}}}</a>
        </li>
    {{/each}}
    </ul>
{{/each}}
<a class="nav-link start-over" href="#">Start Again</a><br>
<!--<a class="dev-control" href="#/dashboard">Beacon Ranging Dashboard</a>-->