<div>
{{question}}
<div class="questions">
    <audio src="audio/{{correctSound}}" id="correct"></audio>
    <audio src="audio/{{incorrectSound}}" id="incorrect"></audio>
  {{#each answers}}
    <div class="answer-container">
      <div class="answer {{#if isCorrect}}correct{{/if}} qId={{id}}">
        <div class="button {{#if isCorrect}}correct{{/if}}"><a href="#"><div>{{text}}</div></a></div>
        <div class="response {{#if isCorrect}}correct{{/if}} qId={{id}}">
          <!--{{#if isCorrect}}<span class='correct'>Correct. </span>-->
          <!--{{else}}<span class='incorrect'>No. </span>{{/if}}-->
          {{response}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
<div class="try-again button"><a href="#">Try Again</a></div>
<div class="proceed button"><a href="#">Next Challenge</a></div>
</div>