<div class="trails-list-container">
<h1>{{trail.title}}</h1>
{{#if trail.audio}}
    <div class="audio-controls"></div>
{{/if}}
<p class="description">{{trail.description}}</p>
<h4>Choose a floor to begin</h4>
    <ul>
        {{#each topics}}
            <a href="#topic/{{slug}}"><li id="{{slug}}" class="topic-list-item compact">
            	<i class="fa fa-chevron-right compact"></i>
                <div class="main-title">{{title}}</div>
            </li></a>
        {{/each}}
    </ul>
</div>