<div class="trails-list-container">
<br><h1>{{trail.title}}</h1>
<br>
<p>{{trail.description}}</p>
    <ul>
        {{trail.slug}}
        {{#each topics}}
            <a href="#topic/{{slug}}"><li>{{title}}</li></a>
        {{/each}}
    </ul>
</div>

