<div class="trails-list-container">
<h1>{{trail.title}}</h1>
<p class="description">{{trail.description}}</p>
    <ul>
        {{#each topics}}
            <a href="#topic/{{slug}}"><li id="{{slug}}" class="topic-list-item">
                <div class="main-title">{{title}}</div>
                <div class="subtitle">{{description}}</div>
            </li></a>
        {{/each}}
        {{#if trail.audio}}
        <a class="play-trail-intro">
        <li class="audio play-trail-intro">
            <audio class="trail-intro-audio" width="90%" height="auto" preload="auto">
                <source src="audio/{{trail.audio}}" type="audio/mpeg">
                Your browser does not support the audio tag
            </audio>
            <div class="main-title audio">
            <img id="speaker-audio" src="img/white-speaker-128.png" class="audio-control-icon speaker" />
                Trail Intro
            <img id="play-audio" src="img/white-play-128.png" class="audio-control-icon play" />
            <img id="pause-audio" src="img/white-pause-128.png" class="audio-control-icon pause" />
            <img id="restart-audio" src="img/white-restart-128.png" class="audio-control-icon restart" />
            </div>
        </li>
        </a>
        {{/if}}
    </ul>
</div>

